version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: my_mysql
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_DATABASE: db
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - my_network
    restart: unless-stopped

  php:
    build: .
    container_name: my_php
    ports:
      - "80:80"
    volumes:
      - ./site_login:/var/www/html
    environment:
      MYSQL_HOST: mysql
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_DATABASE: db
    networks:
      - my_network
    restart: unless-stopped

  phpmyadmin:
    image: phpmyadmin:latest
    container_name: my_phpmyadmin
    environment:
      PMA_HOST: mysql
      #PMA_USER: user
      #PMA_PASSWORD: password
      PMA_PORT: 3306
    ports:
      - "8080:80"
    depends_on:
      - mysql
    networks:
      - my_network
    restart: unless-stopped

volumes:
  db_data:

networks:
  my_network:
    driver: bridge
